SaleProject/web/WEB-INF/wsdl/localhost_8080/SaleProject_WebService/MarketPlace.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace.com/" name="MarketPlace">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace.com/" schemaLocation="http://localhost:8080/SaleProject_WebService/MarketPlace?xsd=1"/>
</xsd:schema>
</types>
<message name="SearchProductWithProductId">
<part name="parameters" element="tns:SearchProductWithProductId"/>
</message>
<message name="SearchProductWithProductIdResponse">
<part name="parameters" element="tns:SearchProductWithProductIdResponse"/>
</message>
<message name="SearchProductWithAccount">
<part name="parameters" element="tns:SearchProductWithAccount"/>
</message>
<message name="SearchProductWithAccountResponse">
<part name="parameters" element="tns:SearchProductWithAccountResponse"/>
</message>
<message name="GetPurchaseByName">
<part name="parameters" element="tns:GetPurchaseByName"/>
</message>
<message name="GetPurchaseByNameResponse">
<part name="parameters" element="tns:GetPurchaseByNameResponse"/>
</message>
<message name="GetAccWithAccountId">
<part name="parameters" element="tns:GetAccWithAccountId"/>
</message>
<message name="GetAccWithAccountIdResponse">
<part name="parameters" element="tns:GetAccWithAccountIdResponse"/>
</message>
<message name="SearchProductWithProductName">
<part name="parameters" element="tns:SearchProductWithProductName"/>
</message>
<message name="SearchProductWithProductNameResponse">
<part name="parameters" element="tns:SearchProductWithProductNameResponse"/>
</message>
<message name="GetAllProduct">
<part name="parameters" element="tns:GetAllProduct"/>
</message>
<message name="GetAllProductResponse">
<part name="parameters" element="tns:GetAllProductResponse"/>
</message>
<message name="CheckLike">
<part name="parameters" element="tns:CheckLike"/>
</message>
<message name="CheckLikeResponse">
<part name="parameters" element="tns:CheckLikeResponse"/>
</message>
<message name="DelLike">
<part name="parameters" element="tns:DelLike"/>
</message>
<message name="DelLikeResponse">
<part name="parameters" element="tns:DelLikeResponse"/>
</message>
<message name="AddLike">
<part name="parameters" element="tns:AddLike"/>
</message>
<message name="AddLikeResponse">
<part name="parameters" element="tns:AddLikeResponse"/>
</message>
<message name="AddPurchase">
<part name="parameters" element="tns:AddPurchase"/>
</message>
<message name="AddPurchaseResponse">
<part name="parameters" element="tns:AddPurchaseResponse"/>
</message>
<message name="GetPurchase">
<part name="parameters" element="tns:GetPurchase"/>
</message>
<message name="GetPurchaseResponse">
<part name="parameters" element="tns:GetPurchaseResponse"/>
</message>
<message name="EditProduct">
<part name="parameters" element="tns:EditProduct"/>
</message>
<message name="EditProductResponse">
<part name="parameters" element="tns:EditProductResponse"/>
</message>
<message name="AddProduct">
<part name="parameters" element="tns:AddProduct"/>
</message>
<message name="AddProductResponse">
<part name="parameters" element="tns:AddProductResponse"/>
</message>
<message name="DelProduct">
<part name="parameters" element="tns:DelProduct"/>
</message>
<message name="DelProductResponse">
<part name="parameters" element="tns:DelProductResponse"/>
</message>
<portType name="MarketPlace">
<operation name="SearchProductWithProductId">
<input wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithProductIdRequest" message="tns:SearchProductWithProductId"/>
<output wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithProductIdResponse" message="tns:SearchProductWithProductIdResponse"/>
</operation>
<operation name="SearchProductWithAccount">
<input wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithAccountRequest" message="tns:SearchProductWithAccount"/>
<output wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithAccountResponse" message="tns:SearchProductWithAccountResponse"/>
</operation>
<operation name="GetPurchaseByName">
<input wsam:Action="http://marketplace.com/MarketPlace/GetPurchaseByNameRequest" message="tns:GetPurchaseByName"/>
<output wsam:Action="http://marketplace.com/MarketPlace/GetPurchaseByNameResponse" message="tns:GetPurchaseByNameResponse"/>
</operation>
<operation name="GetAccWithAccountId">
<input wsam:Action="http://marketplace.com/MarketPlace/GetAccWithAccountIdRequest" message="tns:GetAccWithAccountId"/>
<output wsam:Action="http://marketplace.com/MarketPlace/GetAccWithAccountIdResponse" message="tns:GetAccWithAccountIdResponse"/>
</operation>
<operation name="SearchProductWithProductName">
<input wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithProductNameRequest" message="tns:SearchProductWithProductName"/>
<output wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithProductNameResponse" message="tns:SearchProductWithProductNameResponse"/>
</operation>
<operation name="GetAllProduct">
<input wsam:Action="http://marketplace.com/MarketPlace/GetAllProductRequest" message="tns:GetAllProduct"/>
<output wsam:Action="http://marketplace.com/MarketPlace/GetAllProductResponse" message="tns:GetAllProductResponse"/>
</operation>
<operation name="CheckLike">
<input wsam:Action="http://marketplace.com/MarketPlace/CheckLikeRequest" message="tns:CheckLike"/>
<output wsam:Action="http://marketplace.com/MarketPlace/CheckLikeResponse" message="tns:CheckLikeResponse"/>
</operation>
<operation name="DelLike">
<input wsam:Action="http://marketplace.com/MarketPlace/DelLikeRequest" message="tns:DelLike"/>
<output wsam:Action="http://marketplace.com/MarketPlace/DelLikeResponse" message="tns:DelLikeResponse"/>
</operation>
<operation name="AddLike">
<input wsam:Action="http://marketplace.com/MarketPlace/AddLikeRequest" message="tns:AddLike"/>
<output wsam:Action="http://marketplace.com/MarketPlace/AddLikeResponse" message="tns:AddLikeResponse"/>
</operation>
<operation name="AddPurchase">
<input wsam:Action="http://marketplace.com/MarketPlace/AddPurchaseRequest" message="tns:AddPurchase"/>
<output wsam:Action="http://marketplace.com/MarketPlace/AddPurchaseResponse" message="tns:AddPurchaseResponse"/>
</operation>
<operation name="GetPurchase">
<input wsam:Action="http://marketplace.com/MarketPlace/GetPurchaseRequest" message="tns:GetPurchase"/>
<output wsam:Action="http://marketplace.com/MarketPlace/GetPurchaseResponse" message="tns:GetPurchaseResponse"/>
</operation>
<operation name="EditProduct">
<input wsam:Action="http://marketplace.com/MarketPlace/EditProductRequest" message="tns:EditProduct"/>
<output wsam:Action="http://marketplace.com/MarketPlace/EditProductResponse" message="tns:EditProductResponse"/>
</operation>
<operation name="AddProduct">
<input wsam:Action="http://marketplace.com/MarketPlace/AddProductRequest" message="tns:AddProduct"/>
<output wsam:Action="http://marketplace.com/MarketPlace/AddProductResponse" message="tns:AddProductResponse"/>
</operation>
<operation name="DelProduct">
<input wsam:Action="http://marketplace.com/MarketPlace/DelProductRequest" message="tns:DelProduct"/>
<output wsam:Action="http://marketplace.com/MarketPlace/DelProductResponse" message="tns:DelProductResponse"/>
</operation>
</portType>
<binding name="MarketPlacePortBinding" type="tns:MarketPlace">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SearchProductWithProductId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchProductWithAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetPurchaseByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAccWithAccountId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchProductWithProductName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DelLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DelProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MarketPlace">
<port name="MarketPlacePort" binding="tns:MarketPlacePortBinding">
<soap:address location="http://localhost:8080/SaleProject_WebService/MarketPlace"/>
</port>
</service>
</definitions>